.header{
    display: flex;
    background-color: rgb(53, 58, 63);
}
nav{
    position: fixed;
    z-index: 100;
    width: 100%;
    margin-right: 20px;
    margin-top: -10px;
}

.nav_bar {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
    margin: 20px;
    margin-left: auto;
}
li{
    padding: 10px 10px;
    color: #939393;
    list-style: none;
}

.caption{
    margin:10px 40px 10px 20px; 
    display: flex;
    flex-direction: column;
}
.section{
    background-size: cover;
    background-image: url(./Portraits_byAndreaDomjanPhotography_009.jpg);
    background-position: center center;
    height: 80vh;
    position: relative;
    color: white;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.about{
    position: relative;
    display: flex;
    
}
.txt{
 padding: auto;
 
}
.abt{
    margin: 100px 100px 150px 100px;
   
    
}
.send{
        margin: 10px 20px 20px ;
        background-color:#9E9E9E ;
        border-style: none;
}

.cards and .coursel{
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
}
input{
    padding: 20px 10px;
    margin: 10px 10px;
}
::placeholder{
    padding: 20px 20px;
    margin: 10px 10px;
}
i{
    font-size: 30px;
}
*{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}
h4{
    margin: 5px;
}
.skills{
    width: 500px;
    margin: 30px auto;
    color: #F8F9FA;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.22);
}
.skills > li{
    margin: 20px 0;
    padding: 10px;
    font-size: small;
}
.bar{
    background-color: #9E9E9E;
    display: block;
    height: 10px;
    border: 1px solid 9E9E9E;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar span{
    height: 20px;
    float: left;
    background-color: cadetblue;
}
.html{
    width: 95%;  
}
.css{
    width: 90%;  
}
.bootstrap{
    width: 60%;  
}
.sass{
    width: 40%;  
}
.javascript{
    width: 80%;  
}
.vue{
    width: 80%;  
}
.react{
    width: 50%;  
}
.typescript{
    width: 30%;  
}
input,button{
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
._border{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.foot{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    flex-direction: row; 
    background-color:   #EEE6FF;
    margin-top: -40px;
}

@media(max-width :414px){
    .header{
        display: flex;
        flex-direction: row;
        font-size: small;
        
    }
    .header > h4{
        display: flex;
        flex-direction: row;
        font-size: small;
        margin-top: 20px;
    }
    .nav_bar{
        display: flex;
        justify-content: flex-end;
        margin: 20px 0 20px 120px;
    }
    .section{
        font-size: 10px;
        background-image: url(./Portraits_byAndreaDomjanPhotography_009.jpg);
        background-position:center center;
        height: 50vh;
        position: relative;
        color: white;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;  
    }
    .abt{
        margin: 120px 100px 200px 30px;
    }
    #name{
        padding: -200px;
    }
    .cards and .coursel{
        display: flex;
        flex-direction: column;
    }
    .foot{
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
    }
    .form{
        margin-left: 15px;
    }
    .caption{
        display: flex;
        flex-direction: column;
    }
    input{
        padding: 20px 100px;
        margin: 10px auto;
    }
    
}
@media(max-width :768px){
    .header{
        display: flex;
        flex-direction: row;
        font-size: small;
        
    }
    .header > h4{
        display: flex;
        flex-direction: row;
        font-size: small;
        margin-top: 20px;
    }
    .nav_bar{
        display: flex;
        justify-content: flex-end;
        margin-right: 80px;
        
    }
    .section{
        background-size: cover;
        width: 100%;
        font-size: 10px;
        background-image: url(./Portraits_byAndreaDomjanPhotography_009.jpg);
        height: 50vh;
        position: relative;
        color: white;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        background-position: center center;  
    }
    .abt{
        margin: 120px 100px 200px 30px;
        
    }
    
    #name{
        padding: -200px;
    }
    .cards and .coursel{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .foot{
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    .form{
        display: flex;
    
    }
    .caption{
        display: flex;
        flex-direction: column;
    }   
    input{
        padding: 20px 10px;
        margin: 20px 10px;
        margin-left: 20px;
    }
    ::placeholder{
        padding: 20px 10px;
        margin: 10px 10px;
    }
    .send{
        margin: 10px 15px;
        margin-left: 20px;
    }
    .coursel{
        justify-content: center;
    }
    footer {
        margin-left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    nav{
        position: fixed;
        z-index: 100;
        width: 98.8%;
        margin-right: 20px;
        margin-top: -10px;
    }
}